<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cj's Commissions</title>
    <link rel="stylesheet" href="static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png">
</head>

<body>

    <main>
        <nav class="navbar">
            <a class="logo">
                <img src="../static/logo.png" alt="Logo">
              </a>
        </nav>

        <div class="content">
            <div class="info">
                <h1>Apply For An Position</h1>
                <p>If you want to join one of our servers, click the button to be directed to it!</p>
                <a href="moderation/index.html" class="btn">Moderation</a>      
                // <a href="https://www.roblox.com/games/18813867756/HUB" class="btn">Roblox Hub</a>  
                // <a href="https://discord.gg/tdPYHkz7NJ" class="btn">Modmail Bot Testing</a>  
                // <a href="https://shop.cjscommissions.xyz" class="btn">Payhip</a>  
            </div>

    </main>

</body>

</html>
